@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary: #ffffff;
    --text-secondary: #ffffff66;
    --bg-color: #171717;
    --highlight-color: #5b34da;
    --link-color: #9d86e9;
}

html {
    background-color: var(--bg-color);
    font-size: 18px;
}

body {
    color: var(--text-primary);
    user-select: none;
}

header {
    background-color: var(--bg-color);
}

.text-secondary {
    color: var(--text-secondary);
}

a {
    color: var(--link-color);
}

.highlight {
    color: var(--highlight-color);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
