@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: rgb(0, 0, 0);
    --color-background: rgb(255, 255, 255);
    --color-primary-accent: rgb(91, 52, 218);
    --color-secondary-accent: rgb(53, 142, 241);
    --color-bg-blurred: rgba(255, 255, 255, 0.93);
    --color-error: rgb(255, 0, 0);
}

html {
    background-color: var(--color-background);
    font-size: 18px;
}

body {
    color: var(--color-primary);
    user-select: none;
}

header {
    background-color: var(--color-background);
}

.text-secondary {
    color: var(--color-primary-accent);
}

a {
    color: var(--color-secondary-accent);
}

.heading {
    color: var(--color-primary-accent);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
