@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary: #ffffff;
    --text-secondary: #ffffff66;
    --bg-color: #171717;
    --heading-color: rgb(229, 184, 244);
    --highlight-color: rgb(97, 218, 251);
}

html {
    background-color: var(--bg-color);
    font-size: 18px;
}

body {
    color: var(--text-primary);
    user-select: none;
}

header {
    background-color: var(--bg-color);
}

.text-secondary {
    color: var(--text-secondary);
}

a,
.highlight,
.about-extra-pages-list > li > svg {
    color: var(--highlight-color);
}

.heading {
    color: var(--heading-color);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
